name: Staging Pipeline

on:
  push:
    branches: [develop]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show staging variables
        run: |
          echo "Sraging environment"
          echo "DB URL: ${{secrets.STAGING_DB_URL}}"
    
